<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Move Visualizer</title>
  <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
    integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <h1>Stockfish Best Move Visualizer</h1>
  <div id="board" style="width: 400px;"></div>
  <button id="startBtn">Start Position</button>
  <button id="clearBtn">Clear Board</button>
  <button id="get-move">Get Best Move</button>

  <script>
    var board = Chessboard('board', {
      draggable: true,
      dropOffBoard: 'snapback',
      sparePieces: true,
      pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png'
    })
    $('#startBtn').on('click', board.start)
    $('#clearBtn').on('click', board.clear)

    // Function to update board with FEN
    function updateBoard(fen) {
      board.position(fen);  // Update the board to reflect the new position
    }

    // Function to get the best move from Flask backend
    document.getElementById('get-move').addEventListener('click', function () {
      fetch("http://127.0.0.1:3000/best-move")
        .then(response => response.json())
        .then(data => {
          console.log(data);
          updateBoard(data.fen);
        });
    });
  </script>

</body>

</html>