<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Move Visualizer</title>
  <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
    integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>

</head>

<body>

  <h1>Stockfish Best Move Visualizer</h1>
  <div id="board" style="width: 400px;"></div>
  <button id="startBtn">Start Position</button>
  <button id="clearBtn">Clear Board</button>
  <button id="getMove">Get Best Move</button>
  <button id="getFen">Get FEN</button>
  <p id="best-move-display"></p>

  <script>
    var board = Chessboard('board', {
      draggable: true,
      dropOffBoard: 'snapback',
      sparePieces: true,
      pieceTheme: 'https://chessboardjs.com/img/chesspieces/wikipedia/{piece}.png',
      position: 'start'
    })
    $('#startBtn').on('click', board.start)
    $('#clearBtn').on('click', board.clear)
    $('#getFen').on('click', function () {
      console.log(getCurrentFen())
    })

    var game = new Chess();
    // Function to update board with FEN
    function updateBoard(fen) {
      board.position("YES");  // Update the board to reflect the new position
    }

    // Function to get the current FEN string
    function getCurrentFen() {
      return game.fen();
    }

    // Function to get the best move from Flask backend
    document.getElementById('getMove').addEventListener('click', function () {
      const currentFen = getCurrentFen(); // Get the current FEN string
      fetch("http://127.0.0.1:3000/best-move", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ fen: currentFen })
      })
        .then(response => response.json())
        .then(data => {
          console.log("Best move data:", data);
          game.move(data.best_move); // Make the best move on the board
          console.log("FEN:", game.fen());
          updateBoard(game.fen().split(" ")[0]); // Update the board with the new FEN
          document.getElementById('best-move-display').innerText = `Best move: ${data.best_move}`;
        })
        .catch(err => console.error("Error fetching best move:", err));
    });

  </script>

</body>

</html>